
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto Condensed', 'sans-serif';
}

a {
  color: #800000;
}
a.tag {
  color: #005f8d;
  font-size: .8em;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.topbar {
  .menu-link {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 100;
    text-transform: uppercase;
  }
  .menu-item.active>.menu-link {
    color: #57c7d4;
    border-top-color: #57c7d4;
    font-weight: 400;
  }
}
.small-header {
  .header-info {
    margin: 20px 0;
  }
}
.header-info {
  h1 {
    font-family: 'Roboto';
    width: 100%;
    letter-spacing: 0;
    font-size: 20px;
    text-transform: uppercase;
    strong  {
      font-weight: bold!important;
    }
  }
}
.feed {
  .feed-picture {

  }
}

.main-content {
  background: #fff;
}

.card {
  &.card-transparent {
    background: none;
    border: none;
  }
}

.upload {
  .card-title {
    font-family: 'Roboto Condensed';
    color: #000;
    border-bottom: none;
    hr {
      border-top: 1px solid #999;
    }
    h4 {
      font-size: 2.2em;
      font-weight: 100;
      letter-spacing: 0;
      color: #222;
    }
    small {
      font-family: 'Roboto';
      font-size: 15px;
      letter-spacing: 10px;
      color: #444;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
  &.upload-text {
    p {
      cursor: pointer;
      cursor: hand;
      color: #000;
      font-size: 20px;
      font-weight: 100;
      line-height: 1.5;
      &:hover {
        color: #48b0f7;
      }
      &.disabled {
        color: #ccc;
        cursor: default;
        &:hover {
          background: none;
        }
      }
      &.selected {
        padding: 20px;
        font-size: 20px;
        background: #48b0f7;
        border-radius: 15px;
        color: #fff;
        &:hover {
          background: #48b0f7;
        }
        &:before {
          font-family: FontAwesome;
          content: '\f10d'; /*quote left icon*/
          color: #79e9f6;
          display: block;
        }
        &:after {
          font-family: FontAwesome;
          content: '\f10e'; /*quote left icon*/
          color: #79e9f6;
          display: block;
        }
      }
    }
  }
}

.float-bottom-center {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 2000;
  padding: 20px 0;
  background: rgba(255,255,255,0.5);
  border-top: 1px solid #f0f0f0;
}

.site-footer {
  background: #333;
  color: #fff;
  border-top: 1px solid #444;
}
.user-help {
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 16px;
}
.yellow {
  color: #cc0;
}