<div class="memb-location-selector">
    <div class="form-group">
        <gmap-map
                :center="marker"
                :zoom="14"
                map-type-id="roadmap"
                style="width: 100%; height: 400px"
                :options="mapOptions"
        >
            <gmap-marker
                    :key="1"
                    :position="marker"
                    :clickable="true"
                    :draggable="true"
                    @click="center=marker"
                    @dragend="getMarkerPosition($event.latLng)"
                    :icon="'/img/pinicon.svg'"
            />
        </gmap-map>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <small>Arrastrá el pin al lugar del mapa que desees</small>
        </div>
    </div>

    <input type="hidden" name="lat" v-model="marker.lat">
    <input type="hidden" name="lng" v-model="marker.lng">

    <div class="fab fab-fixed fab-fixed-big">
        <button type="submit" class="btn btn-float btn-danger btn-submit">
            <i class="fab-icon-default fa fa-arrow-right"></i>
        </button>
    </div>
</div>