<div class="memb-text-selector">

    <div class="card card-transparent">

        <div class="card-title text-center">
            <h4>{{ story ? story.title : '' }}</h4>
            <hr>
            <small>{{ story ? story.author.name : '' }} {{ story ? story.author.lastname : '' }}</small>
        </div>

        <div class="card-body form-type-fill">

            <div class="row my-20">
                <div class="col-6">
                    <a href="#" class="btn btn-primary fw-100" @click.stop="changeStep()"><i class="ti-arrow-left"></i> Regresar</a>
                </div>
                <div class="col-6 text-right">
                    <div class="input-group">
                        <span class="input-group-prepend" v-if="search!=''">
                            <button class="btn btn-light" type="button" @click="search=''"><i class="ti-close"></i></button>
                        </span>
                            <input type="text" class="form-control" placeholder="Buscar en el texto..." v-model="search">
                        <span class="input-group-append">
                            <button class="btn btn-light" type="button"><i class="ti-search"></i></button>
                        </span>
                    </div>

                </div>
            </div>

            <div class="paragraphs">
                <p v-for="paragraph in filteredList"
                    :class="{disabled: (selectedParagraph != null) && (selectedParagraph!=paragraph.id), selected: (selectedParagraph == paragraph.id), follows: (search != '') }"
                    @click="selectParagraph(paragraph.id)"
                    v-html="highlightSearch(paragraph.paragraph)">
                </p>
            </div>


            <div class="fab fab-fixed fab-fixed-big" v-if="selectedParagraph != null">
                <button type="submit" class="btn btn-float btn-danger btn-submit">
                    <i class="fab-icon-default fa fa-arrow-right"></i>
                </button>
            </div>

        </div>


        <div class="card-loading reveal" v-if="loading">
            <svg class="spinner-circle-material-svg" viewBox="0 0 50 50">
                <circle class="circle" cx="25" cy="25" r="20"></circle>
            </svg>
        </div>
    </div>

    <input type="hidden" name="paragraph_id" v-model="selectedParagraph">
    <input type="hidden" name="text_id" v-model="selectedText">
    <input type="hidden" name="author_id" v-model="selectedAuthor">


</div>

