<div class="memb-author-selector">

    <div class="row my-20">
        <div class="col-12 text-right">
            <!-- Large -->
            <form class="lookup lookup-lg">
                <input type="text" placeholder="Buscar..." v-model="search">
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3 col-xs-12" v-for="text in filteredList">
            <div class="card card-transparent cursor-link" @click="selectText(text.id, text.author_id)">
                <div class="card-body text-center">
                    <img
                            src='/img/book3.jpg'
                            alt="" class="rounded-circle mb-10 circle-border"
                            >
                    <h3>{{ text.title }} <br> <small>{{ text.author }}</small></h3>
                </div>
            </div>
        </div>

        <p class="no-results" v-if="filteredList.length == 0">No hay textos</p>


    </div>

</div>

